body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.divnav{
    background-color: #FFC017;
    border-bottom: 1px solid black;
}
.logo1{
    height: 50px;
    width: 180px;
}
.yorumlar{
    border-bottom: 1px solid black;

}
.saveıcon{
    margin-left: 350px;
}