body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.divnav{
    background-color: #FFC017;
    border-bottom: 1px solid black;
}
.logo1{
    height: 50px;
    width: 200px;
    margin-left: 110px;
}
.yorumlar{
    border-bottom: 1px solid black;

}
.saveıcon{
    margin-left: 350px;
}
.imgcursorel{
    margin-left: 160px;
}
.divnavyazı{
    margin-top: 130px;

}
.fontstay{
    font-size: 90px;
}
